<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Add media-specific permissions for API level 33 and above -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- For API level 32 and below, READ_EXTERNAL_STORAGE is used -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/music_player_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/music_player_icon_round"
        android:supportsRtl="true"
        android:theme="@style/splash_screen"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.actions"
            android:value="@color/white"
            tools:ignore="Deprecated" />

        <activity
            android:name=".PlaylistActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".FavouriteActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".PlayerActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
